:root {
    --correct-color: rgb(25, 134, 21);
    --incorrect-color: rgb(250, 53, 53);
}

.correct {
    background-color: var(--correct-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--border-white);
}

.incorrect {
    background-color: var(--incorrect-color);
    color: var(--secondary-text-color);
    border: 1px solid var(--border-white);
}
