.brand-text {
    margin-left: 0;
}
.account-data{
    width: 20%;
}

.list-inline-item{
    margin-right: 2rem;
}

@media screen and (max-width:480px) {
    .brand-text {
        display: none;
    }

    .account-data{
        width: 30%;
    }
}