.main{
    min-height: 80vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.heading{
    font-family: 'Oleo Script', cursive;
    font-size: 7rem;
    color: var(--primary-color)
}

.sub-heading{
    font-size: 3rem;
}

.list{
    list-style-position: inside;
}

.l-h-0{
    line-height: 0;
}