.rules-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
ol>li::marker{
    font-weight: bold;
}

.rules{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    box-shadow: 0 0 10px black;
    min-height: 35rem;
}

.list-item{
    padding: 2rem;
    box-shadow: 0px 5px 10px var(--primary-color);
}